<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="assets/images/et-logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.16.1/sweetalert2.min.css" />
  <link rel="stylesheet" href="assets/css/modal.css">
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/fonts.css">
  <title>ET | Budget</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div class="budget-wrapper" id="app">
    <div id="sidebar">
      <sidebar></sidebar>
    </div>
    <div class="main-content-holder">
      <div id="navbar">
        <navbar></navbar>
      </div>
      <div class="budget-panel">
        <div>
          <div class="mid-top">
            <h3 class="montserrat-alternates-semibold">
              Total Monthly Budget
            </h3>
            <form action="">
              <div>
                <label for="" class="montserrat-alternates-semibold">Rs.</label>
                <input type="text" name="" id="budgetAmt" v-model="primaryBudget"
                  class="montserrat-alternates-semibold budget-amt" readonly />
              </div>
              <button type="button" id="editBtn" class="budgetBtn" @click="handleEditButton">
                Edit<span><i class="fa-solid fa-pen-to-square"></i></span>
              </button>
              <button type="button" id="saveBtn" class="budgetBtn hide" @click="handleSaveButton">
                Save<span><i class="fa-solid fa-floppy-disk"></i></span>
              </button>
            </form>
          </div>
          <div class="mid-mid">
            <h3 class="montserrat-alternates-semibold">
              Category Budget
              <span v-if="primaryBudget !== 0 && allocatedBudget !== 0 && primaryBudget === allocatedBudget" class="roboto-light excess-notice color-success"><i class="fa-solid fa-circle-check"></i> Total Budget allocated!</span>
              <span v-else-if="primaryBudget !== 0 && allocatedBudget !== 0 && primaryBudget < allocatedBudget" class="roboto-light excess-notice color-danger"><i
                  class="fa-solid fa-circle-exclamation"></i> Budget limit
                Crossed!</span>
                <span v-else class="roboto-light excess-notice color-info"><i class="fa-solid fa-circle-info"></i> Rs.{{primaryBudget - allocatedBudget}} left for allocation!</span>
            </h3>
            <div class="floating-plus" title="Add Categories">
              <a href="/categories" title="Add Categories"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div v-if="category.data.length === 0" class="empty-list">
              <h4 class="roboto-medium">No categories found!</h4>
              <h5 class="roboto-regular">Please create categories to allocate budget!</h5>
            </div>
            <div v-else id="budgetCategories">
              <table class="roboto-regular" border="1">
                <tbody>
                  <tr v-for="(data,index) in category.data" :key="index">
                    <td>
                      <span class="drop" :style="`background-color:${getRandomHexCode()}`"></span>
                      <form action="">
                        <input type="text" :value="data.category + ' budget'" readonly />
                      </form>
                    </td>
                    <td class="faded">{{data.updatedAt ? new Date(data.updatedAt).toLocaleDateString('en-GB',{day:'numeric',month:'long',year:'numeric'}) : 'N/A'}}</td>
                    <td>
                      <form action="">
                        <label for="">Rs.</label><input type="text" :value="data.budget" :id="`budget${index}`" readonly />
                      </form>
                    </td>
                    <td>
                      <button type="button" :id="`categoryEdit${index}`" class="category-edit"
                        @click.stop="handleCategoryEdit(index,$event.currentTarget)" :disabled="primaryBudget  < allocatedBudget">
                        Edit<span><i class="fa-solid fa-pen-to-square"></i></span>
                      </button>
                      <button type="button" :id="`categorySave${index}`" class="category-save hide"
                        @click.stop="handleCategorySave(data.category,index,$event.currentTarget)">
                        Save
                        <span><i class="fa-solid fa-floppy-disk"></i></span>
                      </button>
                      <button type="button" @click="handleCategoryDelete(data.category)" class="category-delete color-danger">
                        Delete<span><i class="fa-solid fa-trash"></i></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination" id="pagination">
              <div><button :disabled="page > category.count || page == 1" aria-disabled="true" @click="changePage(page-1)">Prev</button></div>
              <div v-for="n in category.count" :key="n" :class="{active: n == page}" @click="changePage(n)">
                <button>{{n}}</button>
              </div>
              <div><button :disabled="page > category.count || page == category.count || category.count ==  0" @click="changePage(parseInt(page)+1)">Next</button></div>
            </div>
          </div>
        </div>
        <div>
          <div class="right-top">
            <div class="budget-expense">
              <h3 class="montserrat-alternates-semibold">
                Total monthly expenditures
              </h3>
              <canvas id="budgetExpense"></canvas>
            </div>
          </div>
          <div class="right-bottom">
            <h3 class="montserrat-alternates-semibold">Remaining Budget</h3>
            <div class="rem-container">
              <div  v-if="category.data.length === 0" class="empty-list">
                <h4 class="roboto-medium">No categories found!</h4>
              </div>
              <div v-else v-for="(data,index) in category.data" :key="index" class="rem-list">
                <h4 class="roboto-medium"><span class="drop" :style="`background-color:${getRandomHexCode()}`"></span>{{data.category}}</h4>
                <p class="roboto-regular">
                  <span class="roboto-medium">Rs.{{data.expense}}</span> of {{data.budget}}
                </p>
                <span v-if="data.expense > data.budget" class="roboto-light excess-notice color-danger"><i class="fa-solid fa-circle-exclamation"></i>
                  Budget limit exceeded!</span>
                <span v-else-if="data.expense != 0 && data.budget != 0 && data.expense == data.budget" class="roboto-light excess-notice color-danger"><i class="fa-solid fa-circle-exclamation"></i>
                  Budget limit reached!</span>
                  <span v-else-if="data.expense != 0 && data.budget != 0 &&(data.expense >= (data.budget * 0.8))" class="roboto-light excess-notice color-warning"><i class="fa-solid fa-triangle-exclamation"></i>
                  Budget limit almost reached!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/33.1.1/ag-grid-community.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.16.1/sweetalert2.min.js"></script>
  <script src="assets/js/budget.js" type="module"></script>
</body>

</html>